name: Salesforce Security RFI - Test Combined Workflow

on:
  issues:
    types: [opened]

jobs:
  if: ${{ startsWith(github.event.issue.body, '# Security Request for Information (RFI)') }}
  add-label:
    runs-on: ubuntu-latest
#    if: ${{ startsWith(github.event.issue.body, '# Security Request for Information (RFI)') }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions-ecosystem/action-add-labels@v1
      with:
        labels: activity-security-questionnaire
  move-to-project:
    runs-on: ubuntu-latest
#    if: ${{ startsWith(github.event.issue.body, '# Security Request for Information (RFI)') }}
    steps:
    - uses: actions/add-to-project@v0.4.1
      with:
        project-url: https://github.com/users/RaydioAM/projects/3
        github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
