name: Salesforce Security RFI - Test Combined Workflow

on:
  issues:
    types: [opened]

permissions:
  actions: read
  issues: write
  repository-projects: write

jobs:
  add-label:
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.event.issue.body, '# Security Request for Information (RFI)') }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions-ecosystem/action-add-labels@v1
      with:
        labels: activity-security-questionnaire
