name: Salesforce Security RFI - Test Combined Workflow

on:
  issues:
    types: [opened]

permissions: write-all

#permissions:
#  contents: read
#  issues: write
#  repository-projects: write

jobs:
  add-label:
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.event.issue.body, '# Security Request for Information (RFI)') }}
    steps:
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
#    - uses: actions/checkout@v2
    - uses: actions-ecosystem/action-add-labels@bd52874380e3909a1ac983768df6976535ece7f8
      with:
        github_token: ${{ secrets.ADD_TO_PROJECT_PAT }}
        labels: activity-security-questionnaire
