name: Salesforce Security RFI - Label Workflow

on:
  workflow_call:

jobs:
  add-label:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-ecosystem/action-add-labels@v1
      if: ${{ startsWith(github.event.issue.body, '# Security Request for Information (RFI)') }}
      with:
        labels: activity-security-questionnaire
